#valor {
    display: none;
}

label{
    color:white;
    font-size:16px;
    padding: 10px 0;
}

.input {
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    width: 90%;
    padding: 15px;
    background-color: #EDF0F2;
    color: #8a97a0;
    margin: 15px auto 30px auto;
}

select {
    font-size: 16px;
    color: #444;
    line-height: 1.3;
    padding: .4em 1.4em .3em .8em;
    width: 400px;
    box-sizing: border-box;
    margin: 15px auto 30px auto;
    font-size: 16px;
}

textarea {
    resize: none;
    margin: 15px auto 30px auto;
    line-height: 1.3;
    font-size: 16px;
}
input[type="submit"] {
    margin-top: 45px;
    padding: 10px;
}
#form1 {
    margin-top:64px;
    margin-bottom: 100px; 
    min-height:500px;
}

table {
    width:100%;
    margin:10px 0 20px 0;
    background-color: white;
    border: 1px solid #000000;
    border-collapse: collapse;
}

table tr {
    border: 1px solid #dddddd;
    padding: 1%;
}

table th,
table td {
    padding: 2%;
    text-align: center;
    border: 1px solid #000000;
}

table th {
    letter-spacing: 1px;
    text-transform: uppercase;
}

table tr {
    margin-bottom: 2%;
}

.derecha{
    width:100%;
    text-align:right;
    margin-bottom:70px;
}

.btn-mis {
    margin-top: 2%;
    background-color: #58D3F7;
    border: 0;
    color: black;
    font-size: 17px;
    height: 37px;
    min-width:120px;
    text-align:center;
}

.btn-mis:hover {
    background-color: #BEEDFB;
    cursor: pointer;
}

.btn-mis:active {
    border: 0;
    box-shadow: 1px 0px #010101, 0px 1px #010101, 2px 1px #010101, 1px 2px #010101, 3px 2px #010101, 2px 3px #010101, 4px 3px #010101, 3px 4px #010101;
    transform: translate(2px, 2px);
}

.mispedidos{
    min-height:768px;
}

.titulo{
    margin-bottom:30px;
}