.centrado {
    margin: 0 auto;
    max-width: 500px;
    width: 100%;
    text-align:center;
}

.subtitulo {
    font-size: 1.17em;
    text-align:center;
}

.contenedor {
    float: left;
    width: 100%;
    padding: 2%;
    margin-bottom: 4%;
    margin-top: 4%;
}

.contenedor img {
    float: left;
    width: 30%;
    margin-right: 6%;
}
.contenedor h2 {
        
    text-align: center;
    margin-top: 2%;
}

.contenedor p {
        
    text-align: justify;
    margin-top: 1%;
    line-height: 160%;
    margin-left: 2px;
}

.contenedor input {
        
    margin-top: 2%;
    background-color: #58D3F7;
    border: 0;
    color: black;
    font-size: 17px;
    height: 37px;
}

.contenedor input:hover {
    background-color: #BEEDFB;
    cursor: pointer;
}

.contenedor input:active {
    border: 0;
    box-shadow: 1px 0px #010101, 0px 1px #010101, 2px 1px #010101, 1px 2px #010101, 3px 2px #010101, 2px 3px #010101, 4px 3px #010101, 3px 4px #010101;
    transform: translate(2px, 2px);
}